altgraph==0.17.4
numpy==1.26.4
packaging==24.0
pandas==2.2.2
pefile==2023.2.7
pyinstaller==6.7.0
pyinstaller-hooks-contrib==2024.6
pyperclip==1.8.2
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32-ctypes==0.2.2
setuptools==70.0.0
six==1.16.0
tzdata==2024.1